:root {
    /* Brand Colors */
    --color-primary: #1f3a93;    /*Midnight Navy - Logo, buttons, accents*/
    --color-accent: #F4c542;     /*Command Gold - highlights, callouts*/
    --color-backround: #F2F4F8;  /*Light Sky - page backround*/
    --color-surface: #FFFFFF;    /* White – card & section backgrounds */
    --color-text: #4a4a4a;        /* Slate Gray – main text color */

    /*Status Colors*/
    --color-success: #27AE60;
    --color-warning: #f39c12;
    --color-danger: #e74C3C;
    
    /*Border*/
    --color-border: #D9D9D9;
}


.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-condensed-extralight {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-medium {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-condensed-semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-condensed-extrabold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-condensed-black {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-condensed-thin-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-condensed-extralight-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-condensed-light-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-condensed-regular-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-condensed-medium-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-condensed-semibold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-condensed-bold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-condensed-extrabold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-condensed-black-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans-semibold {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
